<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Core"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Komunikat"
        tools:targetApi="31">
        <activity
            android:name=".Activities.auth.WelcomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.messages.MessagesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.messages.ThreadsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.profile.ProfileActivity"
            android:exported="false"
            android:label="Profil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.messages.ThreadsActivity" />
        </activity>
        <activity
            android:name=".activities.friends.FriendsActivity"
            android:exported="false"
            android:label="Znajomi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".activities.friends.FriendsInviteActivity"
            android:exported="false"
            android:label="Wyślij zaproszenie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.friends.FriendsAddActivity" />
        </activity>
        <activity
            android:name=".activities.friends.FriendsAddActivity"
            android:exported="false"
            android:label="Szukaj znajomego">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.friends.FriendsActivity" />
        </activity>
        <activity
            android:name=".activities.TestActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.messages.MessagesActivity" />
        </activity>
        <activity
            android:name=".Activities.messages.ChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.messages.MessagesActivity" />
        </activity>
        <activity
            android:name=".Activities.messages.NewMessageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.auth.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.messages.ThreadsActivity" />
        </activity>
    </application>

</manifest>