<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Komunikat"
        tools:targetApi="31">
        <activity
            android:name=".activities.ThreadsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Profil"
            android:name=".activities.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ThreadsActivity" />
        </activity>
        <activity
            android:label="Znajomi"
            android:name=".activities.friends.FriendsActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProfileActivity" />
        </activity>
        <activity
            android:label="Dodaj znajomego"
            android:name=".activities.friends.FriendsAddActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.friends.FriendsActivity" />
        </activity>
        <activity
            android:name=".activities.TestActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MessagesActivity" />
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MessagesActivity" />
        </activity>
        <activity
            android:name=".activities.NewMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ThreadsActivity" />
        </activity>
    </application>

</manifest>